@media screen {
  body {
    background: white;
    max-width: 900px;
    box-shadow: 0px 1px 10px gray;
    padding: 105px;
    margin: 30px auto 30px auto;
  }
  #first_page h1 {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1100px) {
  body {
    padding: 20px;
  }
}

#first_page h1 {
  box-shadow: none;
  font-size: 82px;
  text-align: right;
}

@media print {
  html {
    margin: 10px;
  }
  #first_page h1 {
    margin-top: 350px;
  }
}

#preface h1 {
  box-shadow: none;
}

#preface {
  margin-bottom: 50px;
}

#first_page #author p {
  text-align: right;
  font-size: 27px;
  line-height: 14px;
}

body {
  font-family: Georgia;
}

h1 {
    box-shadow: 1px 1px #F00;
}
html {
    background: #FFFCFC;
}
p {
    text-align: justify;
    text-indent: 0px;
}
hr {
    border-top: 1px dashed gray;
    border-bottom: none;
}


pre {
    border: 1px solid #F00;
    padding: 10px;
    margin-left: -5px;
    margin-right: -5px;
    border: 1px solid #F00;
    padding: 10px;
}

sup {
    line-height: 0px;
}

a {
    color: red;
}
a:visited {
    color: #F58888;
}

img {
    margin: 10px 0px;
    margin-right: 50px;
    font-size: 95%;
    text-align: right;
    margin-top: 20px;
}

#preface {
    margin-left: 25px;
    margin-right: 25px;
}
#author {
    margin-top: 100px;
    margin-bottom: 127px;
    page-break-after: always;
}

code {
    font-family: "Oxygen Mono", "DejaVu Sans Mono", monspace;
}

.footnote li:target {
  background: rgb(255, 246, 197);
}

